body {
  font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #1f1e1e;
}

.popular {
  max-width: 1120px;
  margin: 0 auto;
}

.popular_title {
  font-size: 36px;
  line-height: 42px;
  font-weight: 700;
  text-align: center;
  margin: 0 0 40px 0;
}

.popular_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 256px;
  grid-auto-columns: 256px;
  gap: 32px;
}

.popular_item {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 21px;
  position: relative;
  color: #ffffff;
  padding: 20px;
}

.big-item {
  grid-column: span 2;
  grid-row: span 2;
  padding: 20px 30px 20px 30px;
}

.popular_item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.popular_name {
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  text-transform: uppercase;
  margin: 0 0 15px 0;
}

.big-item .popular_name {
  font-size: 24px;
  line-height: 31px;
}

.popular_country {
  margin: 0 0 15px 0;
}

.popular_duration {
  flex: 1 1 auto;
}

.popular_price {
  font-weight: 700;
}

.popular::after {
  content: '';
  display: block;
  height: 80px;
}
